{padding: 0; margin: 0; box-sizing: border-box;}
header{
	width: 100%;
	height: 100vh;
	background-image:linear-gradient(90deg, rgba(25,42,86,1),rgba(1,22,53,0.2)), 
	                 url('a22.jpg') ;
	position: reletive;
	overflow-y: hidden;
    background-size: cover;
}
nav{
   width: 25%;
   height: 100vh;
   background-color:transparent;
   display: flex;
   flex-direction: column;
   padding: 20px 30px;
}
.logo{
	font-size: 2em;
	color: white;
	letter-spacing: 5px;
	font-family: Arial,helvetica, sans-serif;
	margin: 5px ;
}
.menu a{
	text-decoration: none;
	color: white;
	display: block;
	padding: 10Spx 20px;
	margin: 40px auto;
	font-size: 20px;
	font-family: Verdana,Geneva;
	transition: 0.4s ease;
}
.menu{
	padding: 1px;
}
.menu a:first-child{
	background-color: #192a56;
}
.menu a:hover{
	background-color:#192a56 ;
}
.menu i{
	margin: 0 20px;
}
.s-icon{
	position: absolute;
	bottom: 16%;
}
.s-icon i{
    color: white;
    font-size: 30px;
    margin: 0px 10px;
    padding: 10px;
    border-radius:50%;
    cursor: pointer;
    box-shadow: 4px 2px 6px grey ;
    transition: 0.5s ease;
}
.s-icon i:nth-child(1){
	 background-color: #3b5998;
}
.s-icon i:nth-child(2){
	 background-color: #00acee;
}
.s-icon i:nth-child(3){
	 background-color: #e84393;
}
.s-icon i:nth-child(4){
	 background-color: #128C7E;
}
.s-icon i:hover{
	transform: translateY(-20px);
}